body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;
  
    /* style text */
    font-size: 12px;
    font-family: Sans-Serif;
  
    /* color text */
    color: #fff;
    background-color: #444;
  }
  
  h1 {
    /* position the heading 
    position: absolute;
    width: 100%;
  
    /* make sure that the heading is drawn on top */
    z-index: 1;
    color: grey;
  }
  
  #scene-container {
    /* tell our scene container to take up the full page */
    width: 100%;
    min-height: 300px;
  
    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: skyblue;
  }

  .uipane {
    display: inline-block;
    height: 100%;
    min-height: 800px;
    padding-top: 2em;
  }

  #leftpane {
    width: 30%;
    float: left;
    background-color: #e0e0e0;
  }

  #rightpane {
    float: right;
    background-color: black;
    width: 70%;
  }

  .panepanel {
    text-align: center;
  }